:root {
  --bg-color: #e7e7e7;
  --clr-neutral-900: rgb(32, 30, 30);
  
  --color-primary: rgba(71, 83, 70, 0.841);
  --color-secondary: hsla(115, 16%, 29%, 0.685);
  --color-tertiary: hsla(115, 16%, 29%,0.397);
  
  
  --ff-primary: 'Poppins', sans serif;
  --fs-primary: 1rem;
  --fs-second: 1.2rem;
  --fs-third: 1.8rem;
}

*,
*::after
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: var(--ff-primary);
}

header, section {
  padding: 1rem 0;
}

h1 {
  padding: 1rem;

  font-weight: 600;
  line-height: 0.8;
  font-size: var(--fs-third);
  text-align: center;
}

h2 {
  padding: 0.5em;

  text-align: left;
  font-weight: 500;
  line-height: 1.5;
  font-size: var(--fs-third);
  color: #fff;

  background: var(--color-secondary);
  border-radius: 0.8rem ;
}

.container {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 1.5rem;
}

th {
  font-weight: 450;
  font-size: var(--fs-second);
  color: #fff;

  background: var(--color-secondary);
}

tr:nth-of-type(2n) {
  background: var(--color-tertiary)
}

/* RESPONSIVE */
@media (max-width: 40rem) {
  th {
    display: none;
  }

  td {
    display: block;
    padding: 0.5rem 1rem;
  }

  td:first-child {
    padding-top: 1rem;
  }

  td:last-child {
    padding-bottom: 1rem;
  }

  td::before {
    font-weight: 450;
  }

  td:nth-of-type(1)::before {
    content: "Nome: ";
  }

  td:nth-of-type(2)::before {
    content: "Peso: ";
  }

  td:nth-of-type(3)::before {
    content: "Altura: ";
  }

  td:nth-of-type(4)::before {
    content: "Gordura Corporal(%): ";
  }

  td:nth-of-type(5)::before {
    content: "IMC: ";
  }
}

/* FORM */
label {
  margin-bottom: .5rem;   
}

.paciente:hover {
  cursor: pointer;
  background-color: rgb(255, 152, 152);
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin-inline: auto;
}

form > * {
  flex: 0 0 20rem;
}

.grupo {
	display: inline-block;

  font-weight: 450;
  font-size: var(--fs-second);
  color: var(--clr-neutral-900);
}

.campo {
	padding: 0.7em;

	border: 2px solid var(--color-secondary);
  border-radius: 0.8rem;

  font-weight: 600;
}

.campo-medio {
  min-width: 19rem;
}

.button {
	border: 0;
  border-radius: 0.8rem;

	cursor: pointer;
	color: #fff;
	font-size: var(--fs-second);
	background-color: var(--color-primary);

	padding: 0.5rem 3rem;
}

/* JS */
li {
  list-style: none;
}

.paciente-invalido {
  background-color: lightcoral;
}

#The-Fault {
  color: red; 
}

.fadeOut {
  opacity: 0;
  transition: 0.5s;
}

#filtrar-tabela {
  width: 12rem;
  height: 1rem;
  margin-bottom: 0.7rem;
}

.invisivel {
  display: none;
}